@model IEnumerable<LoginPage1.Models.LendRequest>
@{
    ViewData["Title"] = "LentBooks";
    Layout = "_AdminLayout";
}

    <h2 style=" margin-top:20px; text-align:center;">Lent Books</h2>

    <table class="table table-hover table-dark">
       <tr>
            <th>LendId</th>
            <th>UserName</th>
            <th>BookName</th>
            <th>LendDate</th>
            <th>DueDate</th>
            <th>Status</th>
        </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.LendId</td>
                    <td>@item.Account.UserName</td>
                    <td>@item.Book.BookTitle</td>
                    <td>@item.LendDate.ToShortDateString() @item.LendDate.ToString("hh:mm tt")</td>
                    <td>@item.LendDate.AddDays(7).ToShortDateString() @item.LendDate.ToString("hh:mm tt")</td>
                     <td>
                        <span class="badge badge-pill badge-danger">Not Returned</span>
                    </td>
                </tr>
            }
         
        
    </table>
